---
---
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="navbar">
  <div class="title">
    rhodger
  </div>
  <div class="menu">
    <a>articles</a>
    <a>lists</a>
    <a>resume</a>
    <a class="last">about</a>
  </div>
</div>

<div class="splash">
    <div class="image">
        <p>placeholder</p>
    </div>
    <div class="intro">
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Augue nunc sem luctus platea dictum tortor libero. Viverra rhodger ullamcorper aliquam iaculis neque ante primis. Lorem ipsum odor amet, consectetuer adipiscing elit. Augue nunc sem luctus platea dictum tortor libero. Viverra rhodger ullamcorper aliquam iaculis neque ante primis.</p>
    </div>
</div>

<div class="content"> <!-- // TODO: Line under secrion headers? -->
  <div class="collection articles">
      <div class="collection__header">
          <p class="title">Articles</p>
          <p class="description">These are recent articles</p>
      </div>
      <div class="collection__body">
          {% for post in site.posts limit:3 %}
          <a href="{{ post.url }}">
              <div class="article"">
                  <div class="article__header">
                      <p class="article__title">{{ post.title }} <span class="date">{{ post.date | date_to_string }}</span></p>
                  </div>
                  <p class="article__snippet">{{ post.excerpt }}</p>
              </div>
          </a>
          {% endfor %}
      </div>
  </div>
  <div class="collection lists">
      <div class="collection__header">
        <p class="title">Lists</p>
        <p class="description">These are some Lists</p>
      </div>
      <div class="collection__body">
          {% for post in site.lists limit:3 %}
          <a href="{{ post.url }}">
              <div class="article"">
                  <div class="article__header">
                    <div>
                      <p class="article__title">{{ post.title }}</p>
                    </div>
                    <div>
                      <p class="article__date">{{ post.last_updated | date_to_string }}</p>
                    </div>
                  </div>
                  <p class="article__snippet">{{ post.excerpt }}</p>
              </div>
          </a>
          {% endfor %}
      </div>
  </div>
</div>
</body>