---
---

body {
    margin-inline: 5vw;
    margin-block: 1rem;
    font-family: "Fira Mono", sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    color: red;
}

a {
    text-decoration: none;
}

p {
    margin-block: 0;
}

.navbar {
    height: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: red;
    padding: 2px;
    gap: 2px;

    div {
        // border-style: solid;
        // border-width: 2px;
        // border-color: orangered;
        background-color: white;
    }

    .title {
        grid-column: 1 / span 1;
        padding: .5rem;
        font-weight: 700;
    }

    .menu {
        grid-column: 2 / span 1;
        // display: flex;
        // flex-flow: row nowrap;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2px;
        background-color: red;
        // border-style: solid solid solid hidden;

        a {
            // border-style: hidden solid hidden hidden;
            background-color: white;
            padding: .5rem;
        }
    }
}

.splash {
    display: grid;
    grid-template-columns: 3fr 5fr;
    background-color: red;
    gap: 2px;
    padding: 0 2px 2px 2px;

    div {
        background-color: white;
        padding: .5rem;
    }

    .image {
        // grid-column: 1 / span 3;
    }

    .intro {
        text-align: justify;
        text-justify: inter-word;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: red;
    gap: 2px;
    padding: 0 2px 2px 2px;

    .collection {
        padding: 0;
        background-color: white;

        .collection__header {
            display: grid;
            grid-template-columns: 1fr 3fr;
            background-color: red;
            gap: 2px;
            padding: 0 0 2px 0;

            p {
                background-color: white;
                padding: .5em;
            }
        }

        .collection__body {
            padding: 1.5rem;
        }

        .article {
            margin-bottom: 2em;

            .article__header {
                color: red;
                margin-bottom: 1em;
                font-weight: 700;

                .date {
                    font-weight: 400;
                }
            }

            .article__snippet {
                color: red;
            }
        }
    }
}